/*
    font-family: 'Abel', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Sacramento', cursive;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 210mm;
    height: 297mm;
    padding: 20px;
}

@media screen {
    body {
        background-color: #d3ffec;
        border: 1px solid black;
    }
}

body > * {
    /*            border: 2px solid black;*/
}

section > h2 {
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid black;
    margin-right: 10px;
    padding-left: 5px;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: #0000ff;
}

.mk-grid {
    display: grid;
    grid-template: auto auto repeat(5, auto) / 3fr 1fr 1fr 2fr;
    grid-template-areas:
        "nme nme ... cnt"
        "lne lne lne lne"
        "smr smr smr abt"
        "tch prf prf prf"
        "tch edu edu edu"
        "tch pro pro pro"
        "hbs hbs ... ...";
}

.nme {
    grid-area: nme;
    height: 132px;
    padding-left: 20px;
    padding-top: 10px;
}

.nme > h1 {
    font-weight: normal;
    font-size: 55px;
    font-family: 'Cinzel', serif;
}

.nme > p {
    font-size: 1.2em;
    /*    font-family: 'Abel', sans-serif;*/
}

.cnt {
    grid-area: cnt;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    height: 106px;
    justify-content: space-around;
    margin-top: 10px;
}

.lne {
    grid-area: lne;
    background-color: black;
    height: 3px;
    margin-bottom: 20px;
}

.smr {
    grid-area: smr;
    /*    margin-top: 17px;*/
    padding: 0 20px 0 5px;
    font-size: 17px;
}

.smr > p {
    /*    text-align: justify;*/
}

.abt {
    grid-area: abt;
}

.abt > div > p {
    margin-left: 20px;
}

.tch {
    grid-area: tch;
}

.tch > div {
    margin-top: 7px;
    margin-left: 20px;
    font-size: 1.3em;
    font-weight: 600;
}

.tch > ul {
    margin-left: 60px;
    font-size: 17px;
}

.skl {
    grid-area: skl;
    display: none;
}

.skl > ul {
    font-size: 17px;
    margin-top: 10px;
}

.edu {
    grid-area: edu;
    /*    font-size: 17px;*/
}

.edu > div {
    margin-top: 3px;
    margin-left: 10px;
}

.edu > div > p {
    padding-left: 20px;
    margin-left: 16px;
    border-left: 1px dotted black;
    margin-right: 10px;
}

.prf {
    grid-area: prf;
}

.cmpny {
    font-size: 18px;
}

.pro {
    grid-area: pro;
    font-size: 17px;
}

.hbs {
    grid-area: hbs;
    position: relative;
    top: -20px;
    /*    display: none;*/
}

.hbs > ul {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hbs > ul > li {
    font-size: 1.6em;
    /*        margin-right: 80px;*/
}

.ext {
    grid-area: ext;
    text-align: center;
    font-size: 2.0em;
    font-family: 'Dancing Script', cursive;
    display: none;
}

.mk-flex {
    display: flex;
}
